<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= typeof title != "undefined" ? title : "Test Site Template" %>
  </title>
</head>

<body>
  <header>
    <p>This is the stuff in the header. It will appear on every page.</p>
  </header>

  <main>
    <%- body -%>
  </main>

  <footer>
    <p>Built by Nicole</p>
  </footer>
</body>

</html>